spring:
  datasource:
    url: jdbc:mysql://mysql-price:3306/vnatives_price?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: price
    password: price
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      pool-name: PriceHikariPool
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 30000
      connection-timeout: 20000
      max-lifetime: 1800000

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true